version: '3.8'

services:
  liquibase:
    image: liquibase/liquibase
    container_name: liquibase
    volumes:
      - /root/ballSpinnerAPI/liquibase/changelog:/liquibase/changelog
      - /root/ballSpinnerAPI/liquibase/scripts/SQLScript:/liquibase/scripts
    command: >
      /bin/bash -c "sleep 60 && liquibase 
      --url=\"jdbc:sqlserver://sql_server:1433;databaseName=revmetrix-bs;trustServerCertificate=true;\" 
      --username=SA 
      --password=Strong1PassMAN!!! 
      --changeLogFile=changelog/changelog.xml update "
    networks:
      - web-network

networks:
  web-network:
    driver: bridge
