name: Publish Docker Image to Docker Hub

on:
  push:
    branches: ['master']

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Database Containers
        run: docker-compose up - d
        
      - name: Wait to ensure docker containers are up and running
        run: sleep 80

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.0'
  
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore

      - name: Test with the dotnet CLI
        run: dotnet test --no-build

      - name: Cleanup
        run: docker-compose down
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USER }} 
              -p '${{ secrets.DOCKER_PASS }}'

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USER }}/ballspinner-api:latest

      - name: Docker Push
        run: docker push ${{ secrets.DOCKER_USER }}/ballspinner-api:latest
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Cloud to Digial Ocean Droplet
        uses: appleboy/ssh-action@master
        with:
          host: ${{SECRETS.SERVER_HOST}}
          key: ${{SECRETS.SSH_DROPLET_PRIVKEY}}
          username: ${{SECRETS.SERVER_USER}}

          script: |
            cd /root/ballSpinnerAPI
            ./redeploy.sh
