on:
  push:
    branches: 
      - rcurry2BallSpinnerCloud
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Start dependencies (docker-compose)
        run: |
                    docker compose up -d  

      - name: Wait for containers
        uses: jakejarvis/wait-action@master
        with:
          time: '80s'
      - name: Debug
        run: |
          docker ps
          docker exec sql-server sh -c "/opt/mssql-tools18/bin/sqlcmd -S localhost -U SA -P 'Strong1PassMAN!!!' -d master -C -Q \"IF NOT EXISTS (SELECT name FROM master.sys.databases WHERE name = N'revmetrix-bs') PRINT 'EXISTS'\""


      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.0'
  
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore

      - name: Test with the dotnet CLI
        run: dotnet test --no-build

      - name: Cleanup
        run: docker-compose down
