<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<LOCAL_CONNECTION_STRING>Server=localhost,1401;User Id=SA;Password=Strong1PassMAN!!!;TrustServerCertificate=True;</LOCAL_CONNECTION_STRING>
			<LOCALDB_CONNECTION_STRING>Server=localhost,1401;Database=revmetrix-bs;User Id=SA;Password=Strong1PassMAN!!!;TrustServerCertificate=True;</LOCALDB_CONNECTION_STRING>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>
